<% @page_title = "Status" %>

<h2>Bottlenose Grading Queue</h2>
<table class="table row-vcenter">
  <tr>
    <td><strong>Queue length</strong></td>
    <td><%= @backlog.length %></td>
  </tr>
  <tr>
    <td><strong>Average wait</strong></td>
    <td><%= @avg_wait %></td>
  </tr>
  <tr>
    <td><strong>Submissions</strong></td>
    <td>
      <% @backlog.each do |b| %>
      <p><%= link_to b.sub.user.display_name, 
             course_assignment_submission_path(b.sub.assignment.course,
             b.sub.assignment, b.sub) %>,
        (<%= b.wait_s %>)
      </p>
      <% end %>
    </td>
  </tr>
</table>
