<% @page_title = "#{@course.name}: Teams" %>

<div class="page-header">
    <h1>
        <%= @course.name %>
        <small>Teams</small>
    </h1>

    <div class="actions">
        <%= link_to "New", new_staff_course_team_path(@course), class: "btn btn-success" %>
    </div>
</div>

<h3>Active Teams</h3>
<%= render "table", teams: @active_teams %>

<h3>Inactive Teams</h3>
<%= render "table", teams: @inactive_teams %>
