<% @page_title = "Enter grades: #{@assignment.name}" %>

<% content_for :wide_content do %>
<%= form_for [@course, @assignment, @submission, @grader] do %>
<%= render "exam_form" %>

<div class="container">
  <div class="form-group">
    <%= submit_tag "Submit grades", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
<% end %>
