<% @page_title = "Terms" %>

<div class="page-header">
  <h1>Terms</h1>

  <div class="actions">
    <%= link_to "New Term", new_term_path, class: "btn btn-success" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'table', terms: @terms %>
  </div>
</div>
