<% @page_title = "Create New User" %>

<div class="row">
  <div class="col-md-6 well">
    <h1>Single User</h1>
    <%= render 'form' %>
  </div>

  <div class="col-md-6">

  </div>
</div>

<%= link_to 'Back', staff_users_path %>
