<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= header %></h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% users.sort_by(&:name).each do |user| %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><% if role == :student %>
                      <%= link_to 'Impersonate', impersonate_user_path(user), method: 'post'%>
                      <% else %>&nbsp;<% end %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
