<h2>Registrations</h2>

<%= link_to "New", new_course_registration_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-12">
    <%= render "reg_requests/table", requests: @requests %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render "users/table", header: "Students", users: @students %>
  </div>
  <div class="col-md-6">
    <%= render "users/table", header: "Staff", users: @staff %>
  </div>
</div>
