<div class="form-inline">
  <input type="hidden" name="answers[<%= index %>][main]" id="answer_<%= index %>">
  <button type="button" class="answer btn btn-default" data-id="answer_<%= index %>">True</button>
  <button type="button" class="answer btn btn-default" data-id="answer_<%= index %>">False</button>
</div>
