<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pending grading</h3>
  </div>
  <div class="panel-body">
    <% @pending_grading.each do |assn_id, graders| %>
    <h4><%= link_to @assignments[assn_id].name,
            course_assignment_path(@course, assn_id) %>
      (<%= graders.count %> remaining)
    </h4>
    <ul>
      <% graders.group_by(&:id).each do |g_id, gs| %>
      <% usernames = gs.map(&:user_name).join(", ") %>
      <li><%= link_to usernames,
              edit_course_assignment_submission_grader_path(@course, assn_id, gs.first.submission_id, g_id) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
