<div id="lateness-configuration" class="row">
  <p class="col-sm-12">(This is the default late policy for all
  assignments in this course.)
    
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#new-late-per-day">Late-per-day</a></li>
    <li><a data-toggle="tab" href="#new-fixed">Limited number</a></li>
    <li><a data-toggle="tab" href="#reuse">Copy existing settings</a></li>
  </ul>
  <div class="tab-content">
    <div id="new-late-per-day" class="tab-pane active equal-height-group form-inline">
      <div>
        Deduct
        <%= spinner_tag :percent_off, 42, :min => 0, :max => 100, :delta => 5 %>
        percent every
        <%= spinner_tag :frequency, 1, :min => 0, :max => 100 %>
        days late to a maximum of
        <%= spinner_tag :max_percent, 100, :min => 0, :max => 100, :delta => 5 %>
        percent off.
      </div>
      <br>
      <div>
        Stop accepting assignments after
        <%= spinner_tag :days_per_assignment, 4, :min => 0, :max => 5 %>
        days.
      </div>
    </div>
    <div id="new-fixed" class="tab-pane equal-height-group">
      Limited supply of late days
    </div>
    <div id="reuse" class="tab-pane equal-height-group">
      Clone an existing setting
    </div>
  </div>
</div>
