<!-- TODO: What other info should we show here? -->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% courses.each do |course| %>
            <tr>
                <td><%= link_to course.name, course_path(course) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
