<% @page_title = "Courses" %>

<div class="page-header">
  <h1>Courses</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <% @courses_by_term.each do |term, courses| %>
      <h2><%= term.name %></h2>
      <%= render "table", courses: courses %>
    <% end %>
  </div>
</div>
