<% @page_title = "Courses" %>

<div class="page-header">
  <h1>Courses</h1>

  <% if current_user.site_admin? %>
    <div class="actions">
      <%= link_to "Edit Terms", terms_path, class: "btn btn-default" %>
      <%= link_to "New Course", new_course_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% @courses_by_term.each do |term, courses| %>
      <h2><%= term.name %></h2>
      <%= render "table", courses: courses %>
    <% end %>
  </div>
</div>
