<% @page_title = @course.name %>

<div class="row">
  <div class="col-md-6">
    <%= render "assignments/table", assignments: @course.assignments,
        for_user: current_user, show_all: current_user.course_professor?(@course) %>
  </div>
  <div class="col-md-6">
    <h2>Current Team</h2>
    <% active_team = current_user.active_team_for(@course) %>
    <% if active_team %>
      <%= link_to course_team_path(@course, active_team) do %>
        <span><%= active_team %></span>
      <% end %>
    <% else %>
      No active team.
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "Withdraw from this course", withdraw_course_path(@course),
      method: :delete,
      class: "pull-right btn btn-danger",
      data: {confirm: "Are you absolutely sure you want to withdraw from this course?"} %>
</div>
