<% @page_title = @course.name %>

<div class="row">
  <div class="col-md-6">
    <% @course.buckets_sorted.each do |bucket| %>
      <%= render "assignments/table", assignments: bucket.assignments %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Current Team</h2>
    <% active_team = current_user.active_team_for(@course) %>
    <% if active_team %>
      <%= link_to course_team_path(@course, active_team) do %>
        <span><%= active_team %></span>
      <% end %>
    <% else %>
      No active team.
    <% end %>
  </div>
</div>
